* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainContainer{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
