* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;

}

.flashCard:hover {
    cursor: pointer;
}